# docker-compose.yml
version: "3"
services:
  redis:
    image: redis
    container_name: redis-store
    expose:
      - 6379
    ports:
      - 6379:6379
    volumes:
      # Doesn't technically need to be a named volume
      - red_data:/data

  backend:
    build: ./backend
    volumes:
      - ./backend:/var/www/app
      # expose a named volume that works because installing
      # and then mounting will hide that folder, so we need to explicitly
      # show it again
      # note that when reinstalling modules, we need to remove this volume
      - be_modules:/var/www/app/node_modules
    ports:
      - 5000:5000
    links:
      - redis
    environment:
      # Change to production to reproduce prod issues
      - NODE_ENV=development
      # Defines what port to expose
      - PORT=5000
      # Since this is linked to the redis contnainer, we can do a DNS lookup by
      # name.
      - REDIS_URL=redis://redis-store:6379
      # MTD API key used in the Express server, pulled as an environment variable
      - CUMTD_API_KEY=$CUMTD_API_KEY
      - SENTRY_DSN=$SENTRY_DSN
    command:
      sh -c 'npm run start:dev'

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/var/www/app
      # expose a named volume that works because installing
      # and then mounting will hide that folder, so we need to explicitly
      # show it again
      # note that when reinstalling modules, we need to remove this volume
      - fe_modules:/var/www/app/node_modules
    ports:
      - 3000:3000
    links:
      - redis
    environment:
      # Vite env vars must be prefixed with VITE_
      - VITE_API_PORT=5000
      # Defines what port to use for development, i.e. localhost:$PORT for the frontend
      - PORT=3000
      - TEST=OK
    command:
      sh -c 'npm run dev'

# explicitly defines the volumes so that docker-compose down -v will destroy them
volumes:
  red_data:
  fe_modules:
  be_modules:

